@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-extralight.eot');
  src: url('../fonts/montserrat-extralight.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-extralight.woff2') format('woff2'), url('../fonts/montserrat-extralight.woff') format('woff'), url('../fonts/montserrat-extralight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-light.eot');
  src: url('../fonts/montserrat-light.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff'), url('../fonts/montserrat-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat-regular.eot');
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-medium.eot');
  src: url('../fonts/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-medium.woff2') format('woff2'), url('../fonts/raleway-medium.woff') format('woff'), url('../fonts/raleway-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-regular.eot');
  src: url('../fonts/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff'), url('../fonts/raleway-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-extrabold.eot');
  src: url('../fonts/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway-extrabold.woff') format('woff'), url('../fonts/raleway-extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-semibold.eot');
  src: url('../fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway-semibold.woff') format('woff'), url('../fonts/raleway-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway-bold.eot');
  src: url('../fonts/raleway-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway-bold.woff2') format('woff2'), url('../fonts/raleway-bold.woff') format('woff'), url('../fonts/raleway-bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
}
.container {
  width: 1920px;
  margin: 0 auto;
}
.header {
  background: url(../img/bg_photo_header.png) 100% no-repeat;
  background-size: cover;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-topline {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-topline-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: capitalize;
}
.header-topline-logo-icon {
  fill: #fff;
  width: 64px;
  height: 56px;
}
.header-topline-logo-txt {
  margin: 0 219px 0 0;
  font-size: 34px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #fff;
}
.header-topline-logo:hover .header-topline-logo-txt {
  color: #c7b299;
}
.header-topline-logo:hover .header-topline-logo-icon {
  fill: #c7b299;
}
.header-topline-logo:active .header-topline-logo-txt {
  color: #998675;
}
.header-topline-logo:active .header-topline-logo-icon {
  fill: #998675;
}
.header-topline-mobilewrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-topline-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header-topline-navigation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 30px 0 0;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header-topline-navigation-item-list {
  list-style-type: none;
}
.header-topline-navigation-item:hover {
  color: #c7b299;
  cursor: pointer;
}
.header-topline-navigation-item:active {
  color: #998675;
}
.header-topline-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.header-topline-navmobile-input {
  display: none;
}
.header-topline-button-basket {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  margin: 0 0 0 23px;
}
.header-topline-button-basket svg {
  fill: #fff;
  width: 18px;
  height: 24px;
}
.header-topline-button-basket svg:hover {
  fill: #c7b299;
  cursor: pointer;
}
.header-topline-button-basket svg:active {
  fill: #998675;
}
.header-topline-search {
  margin: 0 0 0 30px;
  padding: 15px 0 0 0;
}
.header-carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 285px 0 0 0;
}
.header-carusel-slider-left {
  display: block;
}
.header-carusel-slider-left svg {
  fill: #fff;
  opacity: 0.5;
  width: 40px;
  height: 73px;
  margin: 0 0 0 110px;
}
.header-carusel-slider-left svg:hover {
  fill: #c7b299;
  cursor: pointer;
}
.header-carusel-slider-left svg:active {
  fill: #998675;
}
.header-carusel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 590px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-carusel-text-slogan {
  font-size: 36px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: capitalize;
}
.header-carusel-text-slogan span {
  text-transform: none;
}
.header-carusel-text-title {
  font-size: 52px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: capitalize;
  margin: 14px 0 0 0;
  text-align: center;
}
.header-carusel-text-txt {
  font-size: 16px;
  line-height: 24px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  margin: 19px 0 52px 0;
}
.header-carusel-text-txt::first-letter {
  text-transform: uppercase;
}
.header-carusel-button-getstarted {
  width: 170px;
  min-height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-radius: 3px;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  color: #fff;
  word-break: break-all;
}
.header-carusel-button-getstarted:hover {
  background-color: #fff;
  color: #998675;
  cursor: pointer;
}
.header-carusel-button-getstarted:active {
  background-color: #fff;
  color: #c7b299;
}
.header-carusel-button-getstarted-txt {
  margin: auto;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 800;
  font-style: normal;
}
.header-carusel-slider-right {
  display: block;
}
.header-carusel-slider-right svg {
  fill: #fff;
  opacity: 0.5;
  width: 40px;
  height: 73px;
  margin: 0 110px 0 0;
}
.header-carusel-slider-right svg:hover {
  fill: #c7b299;
  cursor: pointer;
}
.header-carusel-slider-right svg:active {
  fill: #998675;
}
.header-carusel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 327px 0 0 0;
}
.header-carusel-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin: 0 7px;
  opacity: 0.5;
  background-color: #fff;
}
.header-carusel-pagination-item:hover {
  width: 11px;
  height: 11px;
  border: 2px solid #d3c1ad;
  background: transparent;
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
}
.header-carusel-pagination-item:active {
  border: 2px solid #998675;
}
.header-topline-search {
  width: 25px;
  height: 25px;
  position: relative;
}
.header-topline-search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  left: -170px;
  color: #fff;
  font-size: 16px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
}
.header-topline-search_input:focus {
  width: 200px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.header-topline-search_label {
  display: block;
  width: 100%;
  height: 100%;
}
.header-topline-search_label:hover .search-icon-form__svg {
  fill: #c7b299;
  cursor: pointer;
}
.header-topline-search_label:active .search-icon-form__svg {
  fill: #998675;
  cursor: pointer;
}
.search-icon-form__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}
.main-features {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  margin: 10px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.features:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.features:hover .features-icon {
  fill: #c7b299;
  cursor: pointer;
}
.features:hover .features-txt {
  cursor: pointer;
}
.features:hover .features-title {
  color: #c7b299;
  cursor: pointer;
}
.features:hover:after {
  background-color: #c7b299;
  cursor: pointer;
}
.features:active .features-icon {
  fill: #998675;
}
.features:active .features-title {
  color: #998675;
}
.features:active:after {
  background-color: #998675;
}
.features-icon {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}
.features-title {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
  color: #555555;
  font-family: "raleway", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  text-transform: capitalize;
}
.features-txt {
  text-align: center;
  font-family: "montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.features-txt::first-letter {
  text-transform: uppercase;
}
.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 700px;
  background-color: #fbfaf8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.description-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #555555;
}
.description-txt {
  text-align: center;
  margin: 24px 515px 40px 515px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}
.description-txt::first-letter {
  text-transform: uppercase;
}
.description-multiphoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 1228px;
  min-height: 481px;
  margin: 0 auto;
  background-image: url(../img/description_center.png), url(../img/description_left.png), url(../img/description_right.png);
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}
.ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.ad-wrapper {
  margin: 0 470px 0 0;
}
.ad-title {
  margin: 0;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #fff;
}
.ad-title span {
  color: #c7b299;
}
.ad-txt {
  margin: 0;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  color: #615855;
  text-transform: capitalize;
}
.ad-txt span {
  text-transform: none;
}
.ad-button {
  width: 170px;
  min-height: 50px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #998675;
  color: #fff;
  word-break: break-all;
}
.ad-button-txt {
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
}
.ad-button:hover {
  background-color: #fff;
  color: #998675;
  cursor: pointer;
}
.ad-button:active {
  color: #c7b299;
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 1162px;
  padding: 80px 375px 80px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.projects-title {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #555555;
}
.projects-subtitle {
  text-align: center;
  margin: 24px 207px 40px 207px;
  font-size: 16px;
  line-height: 28px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.projects-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 0 40px 0;
}
.projects-categories-button {
  width: 120px;
  min-height: 32px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  outline: none;
  margin: 0 10px 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 21px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
  word-break: break-all;
}
.projects-categories-button:nth-child(5) {
  margin: 0 0 40px 0;
}
.projects-categories-button:hover {
  background-color: #8c8c8c;
  color: #fff;
}
.projects-categories-button:active {
  background-color: #998675;
  color: #c7b299;
}
.projects-categories-button:nth-child(1) {
  width: 70px;
  background-color: #998675;
  color: #fff;
}
.projects-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.projects-gallery-item {
  margin: 0 30px 30px 0;
  position: relative;
}
.projects-gallery-item:nth-child(3n) {
  margin: 0 0 30px 0;
}
.projects-gallery-item-img {
  display: block;
  width: 370px;
  height: 237px;
}
.projects-gallery-item-description {
  padding: 30px 0 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  min-height: 100px;
  background-color: #fbfaf8;
  position: relative;
}
.projects-gallery-item-description-title {
  display: block;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #c7b299;
}
.projects-gallery-item-description-subtitle {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #d1d1d1;
}
.projects-gallery-item-description::before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 20px;
}
.projects-gallery-button-search,
.projects-gallery-button-link {
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  top: 110px;
  display: none;
  width: 26px;
  height: 26px;
}
.projects-gallery-button-link {
  left: 38%;
}
.projects-gallery-button-search {
  right: 40%;
}
.projects-gallery-item:hover .projects-gallery-item-description {
  background-color: #362f2d;
}
.projects-gallery-item:hover .projects-gallery-item-description::before {
  border-bottom: 10px solid #362f2d;
}
.projects-gallery-item:hover .projects-gallery-item-description-title {
  color: #fff;
}
.projects-gallery-item:hover .projects-gallery-item-description-subtitle {
  color: #c7b299;
}
.projects-gallery-item:hover .projects-gallery-item-img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
.projects-gallery-item:hover .projects-gallery-link {
  fill: #fff;
}
.projects-gallery-item:hover .projects-gallery-button-link {
  display: block;
}
.projects-gallery-item:hover .projects-gallery-button-search {
  display: block;
}
.projects-gallery-item:hover .projects-gallery-link:hover {
  fill: #c7b299;
}
.projects-gallery-item:hover .projects-gallery-search {
  display: block;
  fill: #fff;
}
.projects-gallery-item:hover .projects-gallery-search:hover {
  fill: #c7b299;
}
.projects-gallery-item:hover .projects-gallery-link:active {
  fill: #998675;
}
.projects-gallery-item:hover .projects-gallery-search:active {
  fill: #998675;
}
.projects-button {
  width: 170px;
  min-height: 50px;
  background-color: #998675;
  border: none;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  line-height: 23px;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
  word-break: break-all;
}
.projects-button:hover {
  background-color: #fff;
  border: 3px solid #998675;
  border-radius: 5px;
  color: #998675;
  cursor: pointer;
}
.projects-button:active {
  color: #c7b299;
  border: 3px solid #c7b299;
  border-radius: 5px;
}
.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  text-align: center;
}
.presentation-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 210px 685px 0 685px;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.presentation-content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  outline: none;
  margin: 0 0 45px 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.presentation-content-button-icon {
  margin: auto;
  fill: #fff;
}
.presentation-content-button:hover .presentation-content-button-icon {
  fill: #c7b299;
}
.presentation-content-button:active .presentation-content-button-icon {
  fill: #998675;
}
.presentation-content-title {
  width: 100%;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 30px 0;
}
.presentation-content-subtitle {
  font-size: 16px;
  line-height: 28px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin: 0 0 40px 0;
}
.presentation-content-timer {
  font-size: 14px;
  line-height: 24px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #c7b299;
}
.presentation-video {
  width: 1920px;
  height: 705px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mobile {
  width: 100%;
  min-height: 695px;
  background-image: url(../img/iPhone_hand.png);
  background-repeat: no-repeat;
  background-position: left 423px top 79px;
  background-size: 423px 616px;
  background-color: #fbfaf8;
}
.mobile-content {
  padding: 165px 388px 153px 875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mobile-content-title {
  display: block;
  margin: 0 0 40px 0;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  color: #555555;
}
.mobile-content-txt {
  margin: 0 0 45px 0;
  font-style: 16px;
  line-height: 32px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.mobile-content-list {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 32px;
}
.mobile-content-list-item {
  padding: 0 0 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  font-size: 16px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.mobile-content-list-item::before {
  content: "";
  width: 21px;
  height: 21px;
  position: absolute;
  left: 50px;
  top: 5px;
  background-image: url(../img/small_arrow.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  line-height: 21px;
  color: #fff;
}
.statistics {
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 500px 60px 500px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}
.statistics-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'montserrat', 'Arial', sans-serif;
  margin: 0;
}
.statistics-item::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 30px 0 0 0;
}
.statistics-item-icon {
  fill: #c7b299;
  margin: 0 0 30px 0;
}
.statistics-item-number {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
}
.statistics-item-title {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  color: #c7b299;
}
.posts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 375px 80px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
.posts-title {
  display: block;
  width: 100%;
  margin: 0 0 30px 0;
  text-transform: capitalize;
  font-size: 30px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #555555;
}
.posts-subtitle {
  display: block;
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0 207px 0 207px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 28px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.posts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 370px;
  margin: 0 30px 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.posts-item:nth-child(5) {
  margin: 0 0 40px 0;
}
.posts-item-img {
  display: block;
  width: 370px;
  height: 220px;
  background-color: rgba(17, 17, 17, 0.7);
}
.posts-item-date {
  position: absolute;
  text-align: center;
  top: 20px;
  left: 20px;
}
.posts-item-date-day {
  display: block;
  width: 50px;
  margin: 0;
  padding: 10px 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #363636;
  border-radius: 3px 3px 0 0;
  font-size: 24px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}
.posts-item-date-month {
  display: block;
  width: 50px;
  margin: 0;
  padding: 3px 0 3px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #252525;
  border-radius: 0 0 3px 3px;
  font-family: 'roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: capitalize;
  color: #fff;
}
.posts-item-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 134px;
  top: 185px;
}
.posts-item-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  margin: 0 7px;
  opacity: 0.3;
  background-color: #fff;
}
.posts-item-pagination-item:hover {
  width: 11px;
  height: 11px;
  border: 2px solid #d3c1ad;
  background: transparent;
  -webkit-transform: scale(1.36);
          transform: scale(1.36);
}
.posts-item-pagination-item:active {
  border: 2px solid #998675;
}
.posts-item-content {
  padding: 30px 45px 30px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.posts-item-content-title {
  display: block;
  text-align: left;
  margin: 0 0 20px 0;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #555555;
}
.posts-item-content-subtitle {
  display: block;
  text-align: left;
  margin: 0 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #8c8c8c;
}
.posts-item-content-link {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #c7b299;
  position: relative;
}
.posts-item-content-link::after {
  content: '';
  position: absolute;
  margin: 0 0 0 10px;
  border: 5px solid transparent;
  border-left: 8px solid #c7b299;
  top: 4px;
  opacity: 0;
}
.posts-item-content-link:hover::after {
  opacity: 1;
}
.posts-item-content-link:active {
  color: #998675;
}
.posts-item-content-link:active::after {
  border-left: 8px solid #998675;
}
.posts-item:hover {
  background-color: #362f2d;
}
.posts-item:hover .posts-item-img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
.posts-item:hover .posts-item-content-title {
  color: #c7b299;
}
.posts-item:hover .posts-item-content-subtitle {
  color: #fff;
}
.posts-item:hover .posts-item-date-day {
  background-color: #c7b299;
}
.posts-item:hover .posts-item-date-month {
  background-color: #a48d72;
}
.posts-btn {
  margin: 0 10px 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-size: cover;
  width: 22px;
  height: 22px;
  fill: #d1d1d1;
  outline: none;
}
.posts-btn:hover {
  fill: #c7b299;
}
.posts-btn:active {
  fill: #998675;
}
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 489px;
  background-image: url('../img/bg_partners.png');
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 140px 404px 140px 406px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.partners-logo {
  text-decoration: none;
  outline: none;
}
.partners-logo:hover .partners-logo-img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 508px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #191919;
  padding: 80px 375px 80px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-info-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  max-width: 258px;
}
.footer-info-brand-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 0 30px 0;
}
.footer-info-brand-logo-icon {
  fill: #fff;
  width: 64px;
  height: 56px;
}
.footer-info-brand-logo-txt {
  margin: 0;
  font-size: 34px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #fff;
}
.footer-info-brand-logo:hover .footer-info-brand-logo-txt {
  color: #c7b299;
}
.footer-info-brand-logo:hover .footer-info-brand-logo-icon {
  fill: #c7b299;
}
.footer-info-brand-logo:active .footer-info-brand-logo-txt {
  color: #998675;
}
.footer-info-brand-logo:active .footer-info-brand-logo-icon {
  fill: #998675;
}
.footer-info-brand-txt {
  font-size: 14px;
  line-height: 24px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555;
  margin: 0 0 30px 0;
}
.footer-info-brand-txt-link {
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #d1d1d1;
  position: relative;
}
.footer-info-brand-txt-link::after {
  content: '';
  position: absolute;
  margin: 0 0 0 10px;
  border: 5px solid transparent;
  border-left: 8px solid #d1d1d1;
  top: 4px;
  opacity: 0;
}
.footer-info-brand-txt-link:hover::after {
  opacity: 1;
}
.footer-info-brand-txt-link:active {
  color: #998675;
}
.footer-info-brand-txt-link:active::after {
  border-left: 8px solid #998675;
}
.footer-info-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 0;
  max-width: 260px;
}
.footer-info-posts-title {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0 0 30px 0;
}
.footer-info-posts-item {
  text-decoration: none;
  margin: 0 0 20px 0;
  border-bottom: 2px solid #252525;
  padding: 0 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-info-posts-item:nth-child(4) {
  border-bottom: none;
}
.footer-info-posts-item-data {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #363636;
}
.footer-info-posts-item-txt {
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
}
.footer-info-posts-item:hover .footer-info-posts-item-data {
  color: #fff;
}
.footer-info-posts-item:hover .footer-info-posts-item-txt {
  color: #c7b299;
}
.footer-info-posts-item:active .footer-info-posts-item-data {
  color: #c7b299;
}
.footer-info-posts-item:active .footer-info-posts-item-txt {
  color: #998675;
}
.footer-info-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 0;
  max-width: 267px;
}
.footer-info-twitter-title {
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  margin: 0 0 30px 0;
}
.footer-info-twitter-content {
  display: block;
  width: 100%;
  border-bottom: 2px solid #252525;
  margin: 0 0 20px 0;
  padding: 0 0 18px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-info-twitter-content:nth-child(4) {
  border-bottom: none;
}
.footer-info-twitter-content-txt {
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
}
.footer-info-twitter-content-link {
  text-decoration: none;
  color: #00bff3;
}
.footer-info-twitter-content-time {
  font-size: 12px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #363636;
}
.footer-info-widget {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 270px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-info-widget-title {
  margin: 0 0 30px 0;
  text-transform: capitalize;
  font-size: 24px;
  line-height: 1.2;
  font-family: 'raleway', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}
.footer-info-widget-img {
  margin: 0 0 10px 0;
}
.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 111px;
  background-color: #111111;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 375px 50px 375px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-links-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-size: 13px;
  line-height: 20px;
  font-family: 'montserrat', 'Arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #555555;
}
.footer-links-block-txt {
  display: block;
  border-right: 1px solid #252525;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
}
.footer-links-block-brandlink {
  text-decoration: none;
  color: #959595;
}
.footer-links-block-brandlink:hover {
  color: #c7b299;
}
.footer-links-block-brandlink:active {
  color: #998675;
}
.footer-links-block-link {
  display: block;
  text-decoration: none;
  border-right: 1px solid #252525;
  padding: 0 10px 0 0;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555555;
  text-transform: capitalize;
}
.footer-links-block-link:hover {
  color: #c7b299;
}
.footer-links-block-link:active {
  color: #998675;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .header {
    background-position: top;
    padding: 10px 10px 50px 10px;
  }
  .header-topline {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-topline-logo-txt {
    margin: 0;
  }
  .header-topline-mobilewrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header-topline-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .header-topline-navmobile-label {
    margin: 0 5px 5px 0;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-topline-navmobile-icon {
    display: block;
    position: relative;
    background: #fff;
    width: 90%;
    height: 4px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-topline-navmobile-icon::after,
  .header-topline-navmobile-icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 4px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header-topline-navmobile-icon::after {
    top: 8px;
  }
  .header-topline-navmobile-icon::before {
    top: -8px;
  }
  .header-topline-navigation-list {
    visibility: hidden;
    margin: 0 auto;
    height: 0;
    width: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-topline-navigation-item {
    margin: 5px;
    min-height: 20px;
    width: 100%;
  }
  .header-topline-button-basket {
    display: block;
    margin: 0 0 0 5px;
    padding: 10px 0 0 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header-topline-search {
    margin: 0 0 0 10px;
    padding: 10px 0 2px 0;
  }
  .header-topline-navmobile-input:checked ~ .header-topline-navigation-list {
    visibility: visible;
    height: auto;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-carusel {
    display: none;
  }
  .main-features {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 10px;
  }
  .features {
    max-width: 250px;
    padding: 0;
    margin: 0 0 10px 0;
  }
  .features-icon {
    height: 49px;
  }
  .features:nth-child(3) {
    margin: 0;
  }
  .features:nth-child(4) {
    margin: 0;
  }
  .ad {
    display: none;
  }
  .description {
    min-height: 0;
    padding: 20px 0 20px 0;
  }
  .description-title {
    text-align: center;
  }
  .description-txt {
    margin: 20px 70px 0 70px;
  }
  .description-multiphoto {
    display: none;
  }
  .projects {
    padding: 20px;
  }
  .projects-subtitle {
    margin: 20px 70px 20px 70px;
  }
  .projects-categories {
    margin: 0 0 20px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-categories-button {
    height: 30px;
    margin: 0 5px 5px 0;
  }
  .projects-categories-button:nth-child(3) {
    margin: 0 0 5px 0;
  }
  .projects-categories-button:nth-child(5) {
    margin: 0 0 5px 0;
  }
  .projects-gallery-item {
    margin: 0 auto;
  }
  .projects-gallery-item:nth-child(3n) {
    margin: 0 auto;
  }
  .projects-button {
    margin: 10px 0 0 0;
  }
  .presentation {
    display: none;
  }
  .mobile {
    min-height: 0;
    background-size: 160px 275px;
    background-position: left 10px top 270px;
  }
  .mobile-content {
    padding: 20px 10px;
  }
  .mobile-content-title {
    text-align: center;
  }
  .mobile-content-txt {
    text-align: center;
    margin: 0 0 15px 0;
  }
  .mobile-content-list-item {
    padding: 0 0 0 200px;
  }
  .mobile-content-list-item::before {
    left: 160px;
  }
  .statistics {
    display: none;
  }
  .posts {
    padding: 20px 20px;
  }
  .posts-subtitle {
    padding: 0;
  }
  .posts-item {
    margin: 0 0 10px 0;
  }
  .posts-item:nth-child(5) {
    margin: 0;
  }
  .posts-pagination {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .partners {
    min-height: 0;
    padding: 20px 0 0 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .partners-logo {
    margin: 0 10px 20px 10px;
  }
  .footer-info {
    display: none;
  }
  .footer-links {
    padding: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-links-block {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-links-block-txt {
    padding: 0 3px 0 0;
    margin: 0 3px 0 0;
  }
  .footer-links-block-link {
    padding: 0 3px 0 0;
    margin: 0 3px 0 0;
  }
}
